name: splashscreen
description: A splashscreen package created as intro for any flutter application easily with a lot of customization
version: 2.0.0
homepage: https://github.com/DPLYR-dev/SplashScreenFlutterPackage

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
